
body {
  background: #fff;
  color:#000;
  font-family: helvetica, arial, sans-serif;
}
p, div, span, li {
  font-size: 13px;
}

#header {
  width: 970px;
  clear: both;
  padding:0 10px;
  margin-bottom:10px;
  color: #FEFAFA;
}

#header h1, p {
  color: #555;
}
  

#content {
  padding:1px 10px 10px;
  width: 970px;
  background-color: #FFF;
}

#footer {
  width: 1030px;
  clear: both;
}

pre {
  background-color: #000;
  color: #EEE;
  padding: 10px;
} 
